
.main-content{
    margin-top: 50px;
}
.main-row{
    background-color: #d2d3dc;
    padding: 20px;
}
.controls{
    border-right: 2px dotted;
}
 h3{
    text-align: center;
}
.up{
    margin-right : 10px;
}
.submit{
    display:block;
    margin-top: 20px;
}